div.container {
    text-align: center;
    color: white;
}

.jumotron {
    background-color: #94357c;
    margin-bottom: 10px;
}

.display-4 {
    color: rgb(20, 20, 155);
    font-family: 'Courier New', Courier, monospace;
}